body {
	padding: 10.0px;
}

.navigator {
	font-size: 16.0pt;
	width: 180.0px;
	margin-left: 10%;
	margin-top: 30%;

}

.NavButton {

display: block;
width: 180.0px;
margin-top: 20px !important
	
}

.contentPanel{
	background-color: green;
	width: 1000px;
	height: 500px;
margin-top: 50px;
margin-left: 40px;

}

.mainPanel{
	background-color: red;
	width: 1300px;
	height: 600px;
	
}